body {
	font-family: "Segoe UI","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

div.welcomemsg{
	background-color:#ee3d3e;
	color:#ffffff;
}
.atag-login{
  color:#ffffff;
  text-decoration:underline;
}
.panel-banner {
  border-color: #dddddd;
}
.panel-banner > .panel-heading {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
  padding:0px;
  margin:0px;
  border:0px;

}
.panel-banner > .panel-body{
  color: #ffffff;
  background-color: #ee3d3e;
  overflow:auto;
  /*height:222px;*/
}

.panel-banner > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #dddddd;
}

.panel-banner > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #dddddd;
}

.nav-login {
  border-bottom: 1px solid #a22323;
}

.nav-login > li {
  float: left;
  margin-bottom: -1px;
}

.nav-login > li > a {
  /*margin-right: 2px;*/
  line-height: 1.428571429;
  border: 1px solid transparent;
  background-color: #c12c2c ;
  color:white;
/*  border-radius: 4px 4px 0 0;*/
}
/*border color: #a22323*/
.nav >li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background-color:#c12c2c;
}

.nav-login > li > a:hover {
  border-color: #a22323;
  background-color:#c12c2c;
}

.nav-login > li.active > a,
.nav-login > li.active > a:hover,
.nav-login > li.active > a:focus {
  color: #ffffff;
  cursor: default;
  background-color: #ee3d3e;
  border: 1px solid #a22323;
  border-bottom-color: transparent;
}

.nav-login.nav-justified {
  width: 100%;
  border-bottom: 0;
}

.nav-login.nav-justified > li {
  float: none;
}

.nav-login.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}

.nav-login.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

@media (min-width: 768px) {
  .nav-login.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-login.nav-justified > li > a {
    margin-bottom: 0;
  }
}

.nav-login.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}

.nav-login.nav-justified > .active > a,
.nav-login.nav-justified > .active > a:hover,
.nav-login.nav-justified > .active > a:focus {
  border: 1px solid #a22323;
}

@media (min-width: 768px) {
  .nav-login.nav-justified > li > a {
    border-bottom: 1px solid #a22323;
    border-radius: 4px 4px 0 0;
  }
  .nav-login.nav-justified > .active > a,
  .nav-login.nav-justified > .active > a:hover,
  .nav-login.nav-justified > .active > a:focus {
    border-bottom-color: #a22323;
  }
}

.login-content{
	padding-top: 5%;
	background-color: #ee3d3e;
	color: #ffffff;
	height:420px;
	padding-left:25px;
	padding-right:25px;
}

/* all */
.form-control:-moz-placeholder {
  color: #ee3d3e;
}

.form-control::-moz-placeholder {
  color: #ee3d3e;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #ee3d3e;
}

.form-control::-webkit-input-placeholder {
  color: #ee3d3e;
}

.img-thumbnail{
	padding:0px;
	border:0px;
	width:100%;
}
#loginfooter{
	width:100%;
/*	bottom:0;*/
	border-top: 1px solid #dddddd;
}

.link_about {
	color: #1E222C;
}