<form id='messageForm' action="post" class="panel form-horizontal messages-compose-form" style='margin:0'>
	<div class="panel-heading">
		<span class="panel-title">Compose Message</span>
		<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
	</div>
	<div class="panel-body">
		<div class="row form-group">
			<label class="col-sm-3 control-label" for="receipientInput" >Receipients :</label>
			<div class="col-sm-9">
				<input type="text" id="receipientInput" name="recipient" class="form-control" value=''>
			</div>
		</div>
		<div class="row form-group">
			<label class="col-sm-3 control-label" for='contentInput'>Content :</label>
			<div class="col-sm-9">
				<textarea id="contentInput" name='content' rows="3" class="form-control"></textarea>
				<div id="character-limit-textarea-label" class="limiter-label">Characters left: <span class="limiter-count"></span></div>
			</div>
		</div>
	</div>
	<div class="panel-footer text-right">
		<button class="btn btn-primary">Send</button>
	</div>
</form>
<script type='text/javascript'>
var classurl = '{$classurl}';
var defrecp = {$defaultRecp|json_encode};
{literal}
(function () {
	$("#contentInput").limiter(100, { label: '#character-limit-textarea-label' });
	$("#receipientInput").select2({
		placeholder: "Search users",
		minimumInputLength: 3,
		multiple:true,
		ajax: { 
			url: classurl+'/ajaxSearchRecipient',
			dataType: 'json',
			data: function (term, page) {
				return {query: term };	
			},
			results: function (data) { 
				return {results: data};	
			},
		},
		initSelection: function(element, callback) {
			var id=$(element).val();
			if (id!=="") {
				$.ajax(classurl+"/ajaxGetRecipient", {
					data: {userid: id},
					dataType: "json"
				}).done(function(data) { callback(data); });
			}
		}
	}).select2("data",defrecp);
	
	
	$("#messageForm").validate({
		ignore: '.ignore, .select2-input',
		focusInvalid: false,
		rules: {
			'recipient': {
			  required: true
			},
			'content': {
				required: true
			}
		}
	})
	
	$('#messageForm').on('submit', function () {
		var $this = $(this);
		if ($this.valid()) {
			ajaxGetJSON(classurl+"/ajaxSubmitMessage", $this.serialize(), function (ret) {
				$.growl.notice({ message: "Message sent successfully" });
				var $modal = $this.closest('#messageComposeModal');
				if ($modal.length > 0) {
					$modal.modal('hide');
				}
			});
		}
		return false;
	});
	
	
})()
</script>
{/literal}