<div class='widget-comments'>
	<div class='comment-list-body'>
	{$comments}
	</div>
	<div class="comment-list-footer clearfix">
		<div>
			<textarea class='comment-new-textarea' placeholder="Write comment" ></textarea>
			<div style="margin-top: 10px;">
				<button class="btn btn-sm btn-primary pull-right comment-new-button">Post comment</button>
			</div>
		</div>
	</div>
</div>
<script type='text/javascript'>
$(function () {
	var caseid = '{$caseid}',
		flowid = '{$flowid}',
		lastcommid = '{$lastcommid}';
{literal}
	var $commentListBody = $('.comment-list-body'),
		$newCommentText = $('.comment-new-textarea').autosize(),
		$newCommentButt = $('.comment-new-button');
	
	$('.comment-reply-textarea').autosize();
	$newCommentButt.click(function () {
		if ($newCommentText.val().length <= 0) return;
		$newCommentButt.add($newCommentText).attr('disabled', true);

		$.ajax({
			url : "createNewComment",
			data : {
			'comment' : $newCommentText.val(),
			'caseid' : caseid,
			'flowid' : flowid,
			'lastcommid' : lastcommid
			},
			dataType : 'json',
			success : function(data) {
				if (data) {
					lastcommid = data.lastcommid;
					var $newContent = $(data.html).hide();
					$newContent.each(function () {
						var $currComm = $(this);
						if ($currComm.data('parentid')) {
							$commentListBody.find('.comment[data-commid="'+$currComm.data('parentid')+'"] > .comment-reply-area').before($currComm);
						}
						else {
							$commentListBody.append($currComm);
						}
					}).fadeIn();
					$newContent.find('.comment-reply-textarea').autosize();
				}
				$newCommentText.val('');
				$newCommentButt.add($newCommentText).attr('disabled', false);
			}
		})
	
	})
	
	$('.widget-comments').on('click' , '.comment-reply', function () {
		$('.widget-comments').find('.comment-reply-area.active').removeClass('active').hide().find('.comment-reply-textarea').val('');;
		$(this).closest('.comment-body').siblings('.comment-reply-area').fadeIn(400, function () {
			$(this).addClass('active').find('.comment-reply-textarea').focus();
		});
	})
	
	$('.widget-comments').on('click' , '.comment-reply-close', function () {
		$(this).closest('.comment-reply-area').removeClass('active').fadeOut().find('.comment-reply-textarea').val('');
	})
	
	$('.widget-comments').on('click' , '.comment-reply-button', function () {
		var $this = $(this),
			$replyArea = $this.closest('.comment-reply-area'),
			$replyTextArea = $replyArea.find('.comment-reply-textarea');
		
		if ($replyTextArea.val().length <= 0) return;
		$this.add($replyTextArea).attr('disabled', true);

		$.ajax({
			url : "createNewComment",
			data : {
				'comment' : $replyTextArea.val(),
				'caseid' : caseid,
				'flowid' : flowid,
				'parentid' : $this.data('parentid'),
				'lastcommid' : lastcommid
			},
			dataType : 'json',
			success : function(data) {
				if (data) {
					lastcommid = data.lastcommid;
					var $newContent = $(data.html).hide();
					var $newContent = $(data.html).hide();
					$newContent.each(function () {
						var $currComm = $(this);
						if ($currComm.data('parentid')) {
							$commentListBody.find('.comment[data-commid="'+$currComm.data('parentid')+'"] > .comment-reply-area').before($currComm);
						}
						else {
							$commentListBody.append($currComm);
						}
					}).fadeIn();
					$newContent.find('.comment-reply-textarea').autosize();
				}
				$replyTextArea.val('');
				$this.add($replyTextArea).attr('disabled', false);
				$replyArea.hide();
			}
		})
		
	})
	
	
{/literal}
})
</script>