<div id='mainTaskDiv'>
    <div id='rowTaskDiv'>
        <div id='sideDiv'>
			<ul class="nav nav-tabs" style="margin-bottom: 15px;">
			  <li class="active"><a href="#activityNavList" data-toggle="tab">Activities</a></li>
			  <li class=""><a href="#caseNavList" data-toggle="tab">Cases</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div id='activityNavList' class="tab-pane fade active in" ></div>
				<div id='caseNavList' class="tab-pane fade">
					<div class="input-group">
						<input id='caseSearchInp' type="text" class="form-control" placeholder="Search...">
						<div class="input-group-btn">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								<input type='hidden' id='searchCaseTypeCode' value='all' />
								<span id='searchCaseTypeDesc'>All</span> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="javascript:void(0)" class='casetype-link' data-code="all">All</a></li>
								<li class="divider"></li>
{foreach from=$casetype item="ct"}
								<li><a href="javascript:void(0)" class='casetype-link' data-code="{$ct.pmct_code}">{$ct.pmct_desc}</a></li>
{/foreach}
							</ul>
						</div>
						
						<span class="input-group-btn">
							<button class="btn btn-default disabled" type="button" disabled>
								<span id='searchCaseIcon' class="glyphicon glyphicon-search"></span>
								<span id='searchCaseLoader' class="fa fa-spinner fa-spin fa-lg" style='display:none'></span>
							</button>
						</span>
					</div>
					<div id='caseList'></div>
				</div>
			</div>
		</div>
        <div id='contentDiv'>
			<iframe class='autoheight' id='contentFrame'></iframe>
		</div>
    </div>
</div>
<script type='text/javascript'>
$(function () {
	var $activityNavList = $('#activityNavList'),
		$contentFrame = $('#contentFrame'),
		$caseSearchInp = $('#caseSearchInp'),
		$caseList = $('#caseList'),
		$caseTypeCode = $('#searchCaseTypeCode'),
		$caseTypeDesc = $('#searchCaseTypeDesc'),
		$searchCaseIcon = $('#searchCaseIcon'),
		$searchCaseLoader = $('#searchCaseLoader');
	toggleLoading(true,function () {
	
		$('.casetype-link').click(function () {
			var $this = $(this);
			$caseTypeDesc.html($this.html());
			$caseTypeCode.val($this.data('code')).change();
		})
		
		var timeout;
		function queryCase() {
			var q = $caseSearchInp.val();
				ct = $caseTypeCode.val();
			$searchCaseIcon.hide();
			$searchCaseLoader.show();
			window.clearTimeout(timeout);
			timeout = window.setTimeout(function(){
				$caseList.load( "renderCaseSearch?q="+encodeURIComponent(q)+'&ct='+encodeURIComponent(ct), function(data) {
					$searchCaseLoader.hide();
					$searchCaseIcon.show();
				});
			},500);
		}
		$caseTypeCode.change(queryCase)
		$caseSearchInp.keyup(queryCase)
		
		$activityNavList.on('click', '.list-activity>a, .list-event>a', function () {
			var $this = $(this);
			toggleLoading(true,function () {
				if ($this.parent().hasClass('list-activity')) var idcol = 'atid';
				else var idcol = 'evid';
				var id = $this.data(idcol);
				$contentFrame.attr('src', 'renderCaseFlowList?'+idcol+'='+id).load(function () {
					$('.list-activity.active, .list-event.active, .list-case.active').removeClass('active');
					$this.parent('.list-activity, .list-event').addClass('active');
					toggleLoading(false);
				});
			});
		})
		
		$caseList.on('click', '.list-case>a', function () {
			var $this = $(this);
			toggleLoading(true,function () {
				var id = $this.data('caseid');
				$contentFrame.attr('src', 'renderCaseScreen?caseid='+id).load(function () {
					$('.list-activity.active, .list-event.active, .list-case.active').removeClass('active');
					$this.parent('.list-case').addClass('active');
					toggleLoading(false);
				});
			});
		})
		
		$activityNavList.load( "renderTaskList", function(data) {
			toggleLoading(false);
		});
	});
})
</script>