<div id="{$id}">
	<table class="table table-hover doctable">
		<thead>
			<tr>
				<th>
					<label class="px-single" style="margin: 2px 3px 0 0"><input type="checkbox" class="px checkall"><span class="lbl"></span></label>
				</th>
	{foreach from=$cols item="desc" key="code"}
				<th>{$desc}</th>
	{/foreach}
				<th style='text-align:right'>
					<button class="btn btn-xs btn-labeled btn-info doc-download-bulk"><span class="btn-label icon fa fa-download"></span>Bulk Download</button>
				</th>
			</tr>
		</thead>
		<tbody>
			{foreach from=$docinfo item="di"}			
			<tr>
				<td>
					<label class="px-single" style="margin: 2px 3px 0 0">
					<input type="checkbox" name="fid[]" value="{$di.fd_id}" class="px"><span class="lbl"></span></label>
				</td>
	{foreach from=$cols item="desc" key="code"}
				<td>
		{if $code == 'fd_created_date'}
					{$di[$code]|date_format:'j-M-Y g:i A'}
		{else}
					{$di[$code]}
		{/if}
				</td>
	{/foreach}
				<td style='text-align:right'>
					<button class="btn btn-xs btn-labeled doc-download" data-fdid="{$di.fd_id}">
						<span class="btn-label icon fa fa-download"></span>Download
					</button>
{if $candelete}
					<button type="button" class="close doc-remove" style='margin-left:15px' data-fdid="{$di.fd_id}">×</button>
{/if}
				</td>
			</tr>
			{/foreach}
		</tbody>
	</table>
</div>
<script type="text/javascript">
(function(){
	var container = $('#{$id}'),
		$bulkbutton = container.find('button.doc-download-bulk'),
	    $allcheckboxes = container.find('input:checkbox'),
	    downloadurl = '{$downloadurl}',
	    reftype = '{$reftype}';
{literal}
	container.on('click', '.doc-download', function (e) {
		e.preventDefault();
		doSubmit(downloadurl, {'reftype':reftype, 'docid':$(this).data('fdid')}, 'post', "_blank");
	})

	function autoToggleBulkButton() {
		if($allcheckboxes.filter(':checked').length > 0){
	 		$bulkbutton.attr("disabled",false).removeClass('disabled');
	 	}else{
	 		$bulkbutton.attr( 'disabled', true ).addClass('disabled');
	 	}
	}
    $allcheckboxes.change(autoToggleBulkButton);
	container.find('.checkall').on('click', function () {
    	$allcheckboxes.prop('checked',this.checked);
		autoToggleBulkButton();
    });
	autoToggleBulkButton();
	container.on('click', '.doc-download-bulk', function (e) {
		e.preventDefault();
		var docIDs = $allcheckboxes.filter(':checked:not(.checkall)').map(function(){
			return $(this).val();
		}).get();
		doSubmit(downloadurl, {'reftype':reftype, 'docid':docIDs}, 'post', "_blank");
	});
{/literal}
{if $candelete}
{literal}
	container.on('click', '.doc-remove', function (e) {
		e.preventDefault();
		var $this = $(this),
			docid = $this.data('fdid');
		bootbox.confirm({
			message: "Are you sure you want to remove this file?",
			callback: function(result) {
				if (result) {
					ajaxGetJSON('DocManUI::delete', [docid], function (ret) {
						$this.closest('tr').remove();
					});
				}
			},
			className: "bootbox-sm"
		});
	});
{/literal}
{/if}
{literal}
})();
{/literal}
</script>