<!DOCTYPE html>
<html>
<head>
	<meta charset="{$charset}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
{foreach from=$csslist item="css"}
	<link rel="stylesheet" type="text/css" href="{$css}">
	<link href="/{$smarty.const.APP}/css/OpenSans.css" rel="stylesheet" type="text/css">
{/foreach}
{foreach from=$jslist item="js"}
	<script type="text/javascript" src="{$js}"></script>
{/foreach}
	<title>{$title}</title>
</head>
<body class='noheaderbody'>
	<div id="body">