<div id="main">
	<div id="render"></div>	
    <div class="component window" id="window1"><strong>Process 1</strong></div>
    <div class="component window" id="window2"><strong>Process 2</strong></div>
    <div class="component window" id="window3"><strong>Process 3</strong></div>
    <div class="component window" id="window4"><strong>Process 4</strong></div>
    <div class="component window" id="window5"><strong>Process 5</strong></div>
    <div class="component window" id="window6"><strong>Process 6</strong></div>
    <div class="component window" id="window7"><strong>Process 7</strong></div>            
</div>