<div id="yeartodate" class="pagecontent" style="min-width: 310px; height: 400px; margin: 0 auto">
</div>
<br>

<!-- <div id="yeartodate"  style="min-width: 310px; height: 400px; margin: 0 auto">
</div> -->
<script type="text/javascript">
var $jsmsg = {
	'totrev'        : '{"Total Revenue"|tl:false}',
	'revbynight'    : '{"Revenue By Night"|tl:false}',
	'revduration'   : '{"Revenue By Duration"|tl:false}',
	'yeartodaterev' : '{"Year To Date Revenue"|tl:false}',
	'revenue'       : '{"Revenue"|tl:false}'
};
{literal}
var chartdata = {	
	init : function() {
		this.xcategory = new Array();								
		this.totalrev = new Array();		
		this.totalrevbynight = new Array();						
		this.totalrevbydur = new Array();						
		this.finaldata = new Array();			
		$.ajax({
			url: 'getYearToDateRevenue',
			dataType: 'json',
			async:   false,
			success: function(results) {	
				var self = chartdata;								
				self.dataresult = results;
				for (var i=0;i<self.dataresult.length;i++){
					self.xcategory[i] = self.dataresult[i]['monthSale'];
					self.totalrev[i] = parseFloat(self.dataresult[i]['totalRev']);
					self.totalrevbynight[i] = parseFloat(self.dataresult[i]['totalRevByNight']);
					self.totalrevbydur[i] = parseFloat(self.dataresult[i]['totalRevByDuration']);
				}
				self.finaldata = [{ name: $jsmsg.totrev,
				                   data: self.totalrev
				                  },
				                  { name: $jsmsg.revbynight,
				                   data: self.totalrevbynight
				                  },
				                  { name: $jsmsg.revduration,
				                   data: self.totalrevbydur
				                  }
				                  ];

				
			}
		});
	}
};
$(document).ready(function() {	
	chartdata.init();
	//write the ajax here									
	 $('#yeartodate').highcharts({
	    title: {
	        text: $jsmsg.yeartodaterev,
	        x: -20 //center
	    },
	    xAxis: {
	        categories: chartdata.xcategory,
	    },
	    yAxis: {
	       title: {
			   text: $jsmsg.revenue
			},
	        plotLines: [{
	            value: 0,
	            width: 1,
	            color: '#808080'
	        }]
	    },
	    tooltip: {
	        valueSuffix: ' DONG'
	    },
	    legend: {
	        layout: 'vertical',
	        align: 'right',
	        verticalAlign: 'middle',
	        borderWidth: 0
	    },
	    series:chartdata.finaldata
	  });
	  
	 
	 
});
</script>
{/literal}