<div id="container" class="pagecontent" style="margin-top:20px">
	<div id="section">
		<ul>
			{foreach from=$list item="sec"}
				<li><a href="#{$sec.sectionid}">{$sec.sectionname}</a></li>
			{/foreach}
		</ul>
		{foreach from=$list item="sec"}
			<div id="{$sec.sectionid}" class="menutab">
				{if isset($sec.detail)}
					{foreach from=$sec.detail item="det"}	       	  
					<div class="menuitem" data-type="{$sec.type}" data-mainid="{$det.mainid}" data-saleid="{$det.saleid}" {if $det.saleid != 0} style="background-color:#BDBDBD" {/if}>
						{$det.itemdesc}
						{if $det.saleid != 0}
						<br>Occupied
						{/if}
					</div>
					{/foreach}
				{/if}
			</div>	
		{/foreach}		
	</div> <!-- end of tabs -->	
</div><!-- end of page content -->

<!-- discount/markup dialog -->
<div id="changedialog" class="ui-helper-hidden">
	<table class="tbl-dialog">
		<tbody>
		<tr>
			<td style="text-align:left;vertical-align:top">{'Total Bill Amount'|tl:true:''}</td>
			<td style="text-align:right"><span id="cdbilltotal" style="font-weight:bold;text-align:right"></span></td>
		</tr>
		<tr>
			<td style="text-align:left;vertical-align:top">{'Total Payment'|tl:true:''}</td>
			<td style="text-align:right"><span id="cdtotalpayment" style="font-weight:bold;text-align:right"></span></td>
		</tr>
		<tr>
			<td style="text-align:left;vertical-align:top">{'Total Change'|tl:true:''}</td>
			<td style="text-align:right"><span id="cdtotalchange" style="font-weight:bold;text-align:right"></span></td>
		</tr>
		</tbody>
	</table>
</div>
<!-- End if item div -->
{literal}
<script type="text/javascript">
$span = {
	billtotal : $('#cdbilltotal'),
	tpayment  : $('#cdtotalpayment'),
	tchange   : $('#cdtotalchange')
};
$div = {
	changedia : $('#changedialog')
};
function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
$(function() {
	$( "#section" ).tabs().css({
	   'min-height': '500px',
	   'max-height': '500px',
	   'overflow': 'auto'
	});
	$('div.menuitem').click(function(){
		$this = $(this);
		window.location.href = 'sale?type='+$this.data('type')+'&mainid='+$this.data('mainid')+'&saleid='+$this.data('saleid')+'&itemdesc='+$this.text();
	});

	if(getParameterByName('saleid') != ''){
		$saleid = getParameterByName('saleid');
		// populate the dialog		
		$.ajax({
			url: "getChange",
			type: "post",
			async:false,
			data: {'saleid': $saleid},
			dataType: "json",
			success: function (data,textStatus,jqXHR) {
				//console.log(data);
				$span.billtotal.text(accounting.formatNumber(data.totalamount));
				$span.tpayment.text(accounting.formatNumber(data.totalpayment));
				$span.tchange.text(accounting.formatNumber(data.totalchange));

				$div.changedia.dialog({
					title: 'Summary',
					autoOpen: false,
					height: 'auto',
					width: 'auto',
					modal:true,
					overflow:'visible',
					buttons: [						 
						{
						 text: 'Close',
						 click: function () { 
						 	   $(this).dialog("close"); 
							},					 
						}]				
					});
				$div.changedia.dialog( "open" );	
			},
			error: function (){
				showAlert('get Change error');
			}
		});
	}
});




</script>
{/literal}