body {
	font-family: "Segoe UI","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

button.close {
	font-family : "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

label.mandatory:after{
	content:" *";
	color:red;
}


.widget-notifications .notification.UNREAD {
	background-color: #DDDDDD;
}

.widget-notifications .notification-ago, .widget-notifications .notification-description, .widget-notifications .notification-title {
	margin-right: 55px;
}
.widget-notifications .notification-icon {
	margin-right:35px;
}

.widget-messages-alt .message-subject {
	padding-right:15px;
}

.widget-messages-alt .message.UNREAD {
	background-color: #DDDDDD;
}
.widget-messages-alt.dropdown-menu .messages-link{
	width:49%;
	display : inline-block;
	margin:0 !important;
}

.widget-messages-alt .messages-list .message-subject {
	width : 90%;
	color:#A7A7A7 !important;
}
.widget-messages-alt.dropdown-menu .messages-link.messages-compose-link{
	margin-left: 1.5px !important;
}

.widget-messages-alt.panel .message-subject {
	white-space: normal;
}

#main-menu .mmc-dropdown-open-ul li a:after, #main-menu .navigation li a:after {
	content: '';
	clear: both;
	display: block;
}

.btn_group .btn-label.icon {
	color : black;
}

.widget-article-comments .comment-reply-area {
	float: none;
	margin-left: 46px;
	position: relative;
	margin-top: 10px;
}

.widget-article-comments .comment-reply-button {
	margin-left: 10px;
}

.widget-article-comments .comment-reply-area {
	display:none;
}
.widget-article-comments .comment-reply-area.active {
	display:block;
}

.widget-article-comments .comment.unread .comment-text {
	background-color: #F0F8FF;
}

.action-comment.hascomment {
	background: #F6F79F;
}

.action-comment.hascomment:hover {
	background: #FCFF00 !important
}

.action-comment.hascomment.unread {
	-webkit-animation: colorblink 0.5s  infinite alternate; /* Chrome, Safari, Opera */
	animation: colorblink 0.5s  infinite alternate;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes colorblink
{
	from {background: #F6F79F;}
	to {background: #FDC26A;}
}
/* Standard syntax */
@keyframes colorblink
{
	from {background: #F6F79F;}
	to {background: #FDC26A;}
}
 
.fiveinarow{
  width: 20%;
  height: 32px;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #555;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.select2-results li.select2-result-with-children>.select2-result-label {
	font-weight : 700;
}


div.dbo_theme_pixeladmin table.dbo_list a.sortable{
	color:#000000;
}

.widget-notifications .notification a{
	line-height: 17px!important;
}

.widget-notifications .notification a:hover{
	background:none !important;
}

.widget-caseflow-timeline .thread {
  padding: 0 0 14px 0;
}
.widget-caseflow-timeline .thread + .thread {
  padding-top: 13px;
  border-top: 1px solid;
  border-top-color: #e4e4e4;
}
.widget-caseflow-timeline .thread:last-child {
  
}
.widget-caseflow-timeline .thread-icon {
  display: block;
  float: left;
  height: 32px;
  margin-top: 2px;
  width: 32px;
  border-radius: 999999px;
  text-align:center;
  padding-top: 5px;
}
.widget-caseflow-timeline .thread-icon  > .fa { 
	font-size:1.8em;
}
.widget-caseflow-timeline .thread-body {
  margin-left: 42px;
}
.widget-caseflow-timeline .thread-time {
  float: right;
  font-size: 12px;
  color: #aaa;
}
.widget-caseflow-timeline .thread-info {
  color: #aaa;
  font-size: 12px;
}
.widget-caseflow-timeline .thread-info a {
  color: #555555;
}
.widget-caseflow-timeline .thread-info a.pastdue {
  color: rgb(189, 8, 8);
}

.widget-caseflow-timeline .thread-info a.pastdue:hover {
  color: rgb(179, 3, 3);
}

.widget-caseflow-timeline .thread-info a:hover {
  color: #888;
}

.panel.widget-caseflow-timeline .thread {
  margin: 0 -20px;
  padding-left: 20px;
  padding-right: 20px;
  border-left : 5px solid white;
}

.panel.widget-caseflow-timeline .thread.ongoing {
  border-left-color : rgb(0,255,143);
}