<div class="container">
    <div class="row">
        <div class="col-md-12">
			<div class="panel panel-info">
			  <div class="panel-heading">
			    <h3 class="panel-title">Excel upload</h3>
			  </div>
			  <div class="panel-body">
			  	    <form method="post" id="formExcel" enctype="multipart/form-data" action="impExcelData">
			  		<div class="row">
			  			<div class="col-md-12" style="margin-bottom:15px">
							<label for="file">File <span class="mandatory"></span> </label>
		      				<input type="file" class="form-control" id="file" name="file" >
	      				</div>

	      				<div class="col-md-12">
	      					<input type="submit" class="btn btn-primary" value="upload" />
						</div>	      					
      				</div>
      				</form>
			  </div>
			</div>      
        </div>        
    </div>
</div>
