<div class="panel panel-success panel-dark">
	<div class="panel-heading">
		<div>ARTIST PERFORMANCE MTD
			<div class="panel-heading-controls">
				<div class="panel-heading-icon">
					View online time report
					<i class="fa  fa-angle-double-right"></i>
				</div>
			</div>
		</div>					
	</div>
    <div class="panel-body">
       <div id="artistperformance" style="height:400px">

       </div>
    </div>
</div>		
<script type="text/javascript">
$( document ).ready(function() {
    var data = {$data},
    category = {$xAxis},
    showgraph = {$showgraph};
    console.log(data);
    console.log(category);    
    if(showgraph){
    	$('#artistperformance').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Artist performance'
            },
            xAxis: {
                categories: category
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Case performance by each artist'
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: data
        });
    }
});
</script>

