<!-- glance -->
<div class="row" style="padding-bottom:15px;margin-bottom:15px">
		<div class="col-sm-3">
			<div class="stat-panel">
				<!-- Success background. vertically centered text -->
				<div class="stat-cell bg-danger valign-middle">
					<!-- Stat panel bg icon -->
					<i class="fa fa-check-square-o bg-icon"></i>
					<!-- Extra large text -->
					<span class="text-xlg">
						<strong>
						<a href="showJobList?page=customer">
							{$Home->totalOrder()}
						</a>
						</strong>
					</span>
					<br>
					<!-- Big text -->
					<span class="text-bg">Order</span><br>
					<!-- Small text -->
					<span class="text-sm">Total order place</span>
				</div> <!-- /.stat-cell -->
			</div> <!-- /.stat-panel -->
		</div>
		<div class="col-sm-3">
			<div class="stat-panel">
				<!-- Success background. vertically centered text -->
				<div class="stat-cell bg-warning valign-middle">
					<!-- Stat panel bg icon -->
					<i class="fa fa-info bg-icon"></i>
					<!-- Extra large text -->
					<span class="text-xlg">
						<strong>
<!-- 		  			  Activity name   : "Pending resolution "
		                  Activity ID : 2 -->		
						<a href="{$Home->getFlowUrl(2,'PM_Activity')}">
							{$Home->getActivityData(2,'totalcount')}
						</a>
						</strong>
					</span><br>
					<!-- Big text -->
					<span class="text-bg">Job</span><br>
					<!-- Small text -->
					<span class="text-sm">pending resolution</span>
				</div> <!-- /.stat-cell -->
			</div> <!-- /.stat-panel -->			
		</div>

		<div class="col-sm-3">
			<div class="stat-panel">
				<!-- Success background. vertically centered text -->
				<div class="stat-cell bg-info valign-middle">
					<!-- Stat panel bg icon -->
					<i class="fa fa-gavel bg-icon"></i>
					<!-- Extra large text -->
					<span class="text-xlg">
						<strong>
<!-- 		  			  Activity name   : "Pending acceptance"
		                  Activity ID : 6 -->		
						<a href="{$Home->getFlowUrl(6,'PM_Activity')}">
							{$Home->getActivityData(6,'totalcount')}
						</a>							
						</strong>
					</span><br>
					<!-- Big text -->
					<span class="text-bg">Job</span><br>
					<!-- Small text -->
					<span class="text-sm">pending acceptance</span>
				</div> <!-- /.stat-cell -->
			</div> <!-- /.stat-panel -->	
		</div>
		<div class="col-sm-3">
			<div class="stat-panel">
				<!-- Success background. vertically centered text -->
				<div class="stat-cell bg-success valign-middle">
					<!-- Stat panel bg icon -->
					<i class="fa fa-bar-chart-o bg-icon"></i>
					<!-- Extra large text -->
					<span class="text-xlg">
						<strong>
<!-- 		  			  Activity name   : "Pending acceptance"
		                  Activity ID : 6 -->		
						<a href="showJobList?page=customer&active=true">
							{$Home->activeOrder()}
						</a>	
						</strong>
					</span><br>
					<!-- Big text -->
					<span class="text-bg">Active</span><br>
					<!-- Small text -->
					<span class="text-sm">order</span>
				</div> <!-- /.stat-cell -->
			</div> <!-- /.stat-panel -->	
		</div>	
</div>
<!-- monthly sales and my performance -->
<div class="row">
	<div class="col-md-12">
		{$Home->renderJobByCat('customer')}	
	</div>

<!-- 	<div class="col-md-6">
		{$Home->renderTaskPendingAction('CUSTOMER')}		
	</div> -->

</div>

<!-- pending job count and QC pass category-->
<!-- <div class="row">	 -->
	<!-- myperformance -->
<!-- 	<div class="col-md-12">
		{$Home->renderPassOrder()}		
	</div> -->

<!-- </div> -->

