<div class="panel panel-success panel-dark">
	<div class="panel-heading">
		<div>MOIRE CUSTOMER CONTRIBUTION 	
			<div class="panel-heading-controls">
				<div class="panel-heading-icon">
					View customer sales report
					<i class="fa  fa-angle-double-right"></i>
				</div>
			</div>
		</div>					
	</div>
    <div class="panel-body">
       <table class="table">
       		<thead>
       			<tr>
       			<th width="10%">Ranking</th>
       			<th width="60%">Company</th>
       			<th width="30%">Total case</th>
       			</tr>
       		</thead>
       		<tbody>
       			<tr>
       				<td>1</td>
       				<td>Darun</td>
       				<td>2183</td>
       			</tr>
       			<tr>
       				<td>2</td>
       				<td>Carton box</td>
       				<td>2014</td>
       			</tr>
       			<tr>
       				<td>3</td>
       				<td>New box</td>
       				<td>1985</td>
       			</tr>
       			<tr>
       				<td>4</td>
       				<td>Grand fortune</td>
       				<td>1785</td>
       			</tr>
       			<tr>
       				<td>5</td>
       				<td>Deswell</td>
       				<td>1385</td>
       			</tr>
       		</tbody>
       </table>
    </div>
</div>		

