<div class="container">
<!-- glance -->
<div class="row" style="padding-bottom:15px;margin-bottom:15px">
	<div class="col-md-3">
			<div class="dashboard-stat green">
				<div class="visual">
					<img src="../../image/dashboard/globe.png" style="width:60px;height:60px">
				</div>
				<div class="details">
					<div class="number">
						42
					</div>
					<div class="desc">
						 total order <br>placed
					</div>
				</div>
				<a class="more" href="alljob">
					 View more <span class="glyphicon glyphicon-chevron-right pull-right"></span>
				</a>
			</div>	
		</div>
		<div class="col-md-3">
			<div class="dashboard-stat blue">
				<div class="visual">
					<img src="../../image/dashboard/points.png" style="width:60px;height:60px">
				</div>
				<div class="details">
					<div class="number">
						 21
					</div>
					<div class="desc">
						 total order  <br>MTD
					</div>
				</div>
				<a class="more" href="#">
					 View more <span class="glyphicon glyphicon-chevron-right pull-right"></span>
				</a>
			</div>	
		</div>
		<div class="col-md-3">
			<div class="dashboard-stat purple">
				<div class="visual">
					<img src="../../image/dashboard/medal.png" style="width:60px;height:60px">
				</div>
				<div class="details">
					<div class="number">
						 3
					</div>
					<div class="desc">
						 case pending  <br>my action
					</div>
				</div>
				<a class="more" href="ackjob">
					 View more <span class="glyphicon glyphicon-chevron-right pull-right"></span>
				</a>
			</div>	
		</div>
		<div class="col-md-3">
			<div class="dashboard-stat orange">
				<div class="visual">
					<img src="../../image/dashboard/points.png" style="width:60px;height:60px">
				</div>
				<div class="details">
					<div class="number">
						13
					</div>
					<div class="desc">
						 active order
					</div>
				</div>
				<a class="more" href="pointsummary">
					 View more <span class="glyphicon glyphicon-chevron-right pull-right"></span>
				</a>
			</div>	
		</div>	
</div>
<!-- monthly sales and my performance -->
<div class="row">
	<!-- monthly sales -->
	<div class="col-md-6">
		<div class="panel panel-success">
			<div class="panel-heading">
				<div>TOTAL ORDER BY CATEGORY
					<div class="pull-right pointer" id="fullcalendarview">
					View my pass orders
					<span class="glyphicon glyphicon-circle-arrow-right"></span>
					</div>
				</div>					
			</div>
		    <div class="panel-body">
		       <div id="custorder" style="height:400px"></div>
		    </div>
		</div>		
	</div>

	<!-- myperformance -->
	<div class="col-md-6">
		<div class="panel panel-success">
			<div class="panel-heading">
				<div>RECENT NOTIFICATION
					<div class="pull-right pointer" id="fullcalendarview">
					View all notification
					<span class="glyphicon glyphicon-circle-arrow-right"></span>
					</div>
				</div>					
			</div>
		    <div class="panel-body">
		       <div class="well">Notification 1</div>
		       <div class="well">Notification 2</div>
		       <div class="well">Notification 3</div>
		       <div class="well">Notification 4</div>
		       <div class="well">Notification 5</div>
		    </div>
		</div>		
	</div>

</div>

<!-- pending job count and QC pass category-->
<div class="row">
	<!-- monthly sales -->
	<div class="col-md-6">
		<div class="panel panel-success">
			<div class="panel-heading">
				<div>CASE PENDING ON MY ACTION
					<div class="pull-right pointer" id="fullcalendarview">
					View cases
					<span class="glyphicon glyphicon-circle-arrow-right"></span>
					</div>
				</div>					
			</div>
		    <div class="panel-body">
		       <div id="custpendingaction" style="height:400px"></div>
		    </div>
		</div>		
	</div>

	<!-- myperformance -->
	<div class="col-md-6">
		<div class="panel panel-success">
			<div class="panel-heading">
				<div>PAST 12 MONTH ORDER
					<div class="pull-right pointer" id="fullcalendarview">
					View all orders
					<span class="glyphicon glyphicon-circle-arrow-right"></span>
					</div>
				</div>					
			</div>
		    <div class="panel-body">
		       <div id="custpassorder" style="height:400px"></div>
		    </div>		    
		</div>		
	</div>

</div>

</div><!--  end of container -->