<div class="panel panel-success panel-dark">
	<div class="panel-heading">
		<div>{'SALES BY QUANTITY MTD'|tl:true:'widget'}
			<div class="panel-heading-controls">

				<!-- <div class="panel-heading-icon">
					View cases
					<i class="fa  fa-angle-double-right"></i>
				</div> -->
			</div>
		</div>					
	</div>
    <div class="panel-body">
       <div id="salebyqty" style="height:400px">

       </div>
    </div>
</div>		
<div id="nograph" class="hidden">{$Home->noGraph()}</div>

<script type="text/javascript">
$( document ).ready(function() {
    var data = {$data},
        category = {$xAxis},
        showgraph = {$showgraph},
        gtitle = "{'Monthly sales'|tl:true:'widget'}",
        gsubtitle = "{'by quantity'|tl:true:'widget'}",
        gyAxisTitle = "{'Quantity'|tl:true:'widget'}";
{literal}  
    showgraph  = false;
    if(showgraph){
    	$('#salebyqty').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: gtitle
            },
            subtitle: {
                text: 'by quantity'
            },
            xAxis: {
                categories: category,
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Quantity ',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ' item'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },        
            credits: {
                enabled: false
            },
            series: data
        });
    }else{
        $('#salebyqty').append($('#nograph').removeClass("hidden"));
    }
});
</script>
{/literal}