<div class="panel panel-success panel-dark">
	<div class="panel-heading">
		<div>MONTHLY SALES BY CATEGORY
			<div class="panel-heading-controls">

				<!-- <div class="panel-heading-icon">
					View cases
					<i class="fa  fa-angle-double-right"></i>
				</div> -->
			</div>
		</div>					
	</div>
    <div class="panel-body">
       <div id="monthlysales" style="height:400px">

       </div>
    </div>
</div>		
{literal}
<script type="text/javascript">
$( document ).ready(function() {
	$('#monthlysales').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Monthly sales'
        },
        subtitle: {
            text: 'my job by category'
        },
        xAxis: {
            categories: ['Trapping', 'Barcode', 'Color Sep', 'MC', 'Artwork'],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Quantity ',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' item'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 100,
            floating: true,
            borderWidth: 1,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'April 2014',
            data: [50, 75, 38, 14, 90]
        }, {
            name: 'May 2014',
            data: [20, 21, 93, 17, 50]
        }, {
            name: 'June 2014',
            data: [39, 47, 120, 11, 14]
        }]
    });
});
</script>
{/literal}