<div class="panel panel-success panel-dark">
	<div class="panel-heading">
		<div>MY PERFORMANCE
			<!-- <div class="panel-heading-controls">
				<div class="panel-heading-icon">
					View cases
					<i class="fa  fa-angle-double-right"></i>
				</div>
			</div> -->
		</div>					
	</div>
    <div class="panel-body">
       <div id="myperformance" style="height:400px"></div>
    </div>
</div>		
<script type="text/javascript">
$( document ).ready(function() {
    var data = {$data},
    showgraph = {$showgraph};
{literal}
	if(showgraph){
		$('#myperformance').highcharts({
		    chart: {
		        plotBackgroundColor: null,
		        plotBorderWidth: null,
		        plotShadow: false
		    },
		    title: {
		        text: 'My performance'
		    },
		    tooltip: {
			    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		    },
		    plotOptions: {
		        pie: {
		            allowPointSelect: true,
		            cursor: 'pointer',
		            dataLabels: {
		                enabled: false
		            },
		            showInLegend: true
		        }
		    },
		    series: [{
		        type: 'pie',
		        name: 'My performance',
		        data: data
		    }]
		});
	}
	else{
		$('#myperformance').text('need to have a beautiful image to show no data found!');
	}
});	
</script>
{/literal}