<div class="panel panel-success panel-dark">
	<div class="panel-heading">
		<div>MY PERFORMANCE
			<!-- <div class="panel-heading-controls">
				<div class="panel-heading-icon">
					View cases
					<i class="fa  fa-angle-double-right"></i>
				</div>
			</div> -->
		</div>					
	</div>
    <div class="panel-body">
       <div id="myperformance" style="height:400px"></div>
    </div>
</div>		
{literal}
<script type="text/javascript">
$( document ).ready(function() {
	$('#myperformance').highcharts({
	    chart: {
	        plotBackgroundColor: null,
	        plotBorderWidth: null,
	        plotShadow: false
	    },
	    title: {
	        text: 'My performance'
	    },
	    tooltip: {
		    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
	    },
	    plotOptions: {
	        pie: {
	            allowPointSelect: true,
	            cursor: 'pointer',
	            dataLabels: {
	                enabled: false
	            },
	            showInLegend: true
	        }
	    },
	    series: [{
	        type: 'pie',
	        name: 'My performance',
	        data: [
	            ['Verified within SLA',   75.0],
	            {
	                name: 'Exceed SLA',
	                y: 25.0,
	                sliced: true,
	                selected: true
	            }
	        ]
	    }]
	});
});	
</script>
{/literal}