<div class="panel panel-success panel-dark">
	<div class="panel-heading">
		<div>{'MY PERFORMANCE'|tl:true:'home'}
			<!-- <div class="panel-heading-controls">
				<div class="panel-heading-icon">
					View cases
					<i class="fa  fa-angle-double-right"></i>
				</div>
			</div> -->
		</div>					
	</div>
    <div class="panel-body">
       <div id="myperformance" style="height:400px"></div>
    </div>
</div>		
<div id="nograph_myperformance" class="hidden">{$Home->noGraph()}</div>
<script type="text/javascript">
$( document ).ready(function() {
    var data = {$data},
    category = {$xAxis},
    showgraph = {$showgraph},
    gtitle = "{'My performance'|tl:false:'widget'}",
    ytitle = "{'Performance'|tl:false:'widget'}",
    dataname ="{'Performance data'|tl:false:'widget'}" ;
{literal}
	if(showgraph){
        $('#myperformance').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: gtitle
            },
            xAxis: {
                categories: category
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Performance'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: dataname,
                data: data
    
            }]
        });
	}
	else{
		$('#myperformance').append($('#nograph_myperformance').removeClass("hidden"));
	}
});	
</script>
{/literal}