<div class="row" style="padding-bottom:15px;margin-bottom:15px">
	<div class="col-sm-3">
		<a href="showFlowSummary?id=5&type=PM_Activity">
		<div class="stat-panel">
			<!-- Success background. vertically centered text -->
			<div class="stat-cell bg-danger valign-middle">
				<!-- Stat panel bg icon -->
				<i class="fa fa-check-square-o bg-icon"></i>
				<!-- Extra large text -->
				<span class="text-xlg">
					<strong>
							{$Home->getCompletedJob('PM_Activity',5)}
					</strong>
				</span>
					<br>
				<!-- Big text -->
				<span class="text-bg">{'Jobs'|tl:true:'home'}</span><br>
				<!-- Small text -->
				<span class="text-sm">{'checked'|tl:true:'home'}</span>
			</div> <!-- /.stat-cell -->
		</div> <!-- /.stat-panel -->
		</a>
	</div>
	<div class="col-sm-3">
		<a href="{$Home->getFlowUrl(5,'PM_Activity')}">
		<div class="stat-panel">
			<!-- Success background. vertically centered text -->
			<div class="stat-cell bg-warning valign-middle">
				<!-- Stat panel bg icon -->
				<i class="fa fa-info bg-icon"></i>
				<!-- Extra large text -->
				<span class="text-xlg">
					<strong>
<!-- 		  			  Activity name   : "Pending check (QC)"
		                  Activity ID : 5 -->		
							{$Home->getActivityData(5,'totalcount')}
					</strong>
				</span>
				<br>
				<!-- Big text -->
				<span class="text-bg">{'Jobs'|tl:true:'home'}</span><br>
				<!-- Small text -->
				<span class="text-sm">{'pending QC check'|tl:true:'home'}</span>
			</div> <!-- /.stat-cell -->
		</div> <!-- /.stat-panel -->			
		</a>
	</div>	
	<div class="col-sm-3">
		<a href="{$Home->getFlowUrl(10,'PM_Activity')}">
		<div class="stat-panel">
			<!-- Success background. vertically centered text -->
			<div class="stat-cell bg-info valign-middle">
				<!-- Stat panel bg icon -->
				<i class="fa fa-gavel bg-icon"></i>
				<!-- Extra large text -->
				<span class="text-xlg">
					<strong>
<!-- 		  			  Activity name   : "Rework in progress"
		                  Activity ID     : 10 -->		
							{$Home->getActivityData(10,'totalcount')}
					</strong>
				</span>
				<br>
				<!-- Big text -->
				<span class="text-bg">{'Job'|tl:true:'home'}</span><br>
				<!-- Small text -->
				<span class="text-sm">{'pending rework in progress'|tl:true:'home'}</span>
			</div> <!-- /.stat-cell -->
		</div> <!-- /.stat-panel -->	
		</a>
	</div>		
	<div class="col-sm-3">
		<a href="showFlowSummaryMTD?id=5&type=PM_Activity">
		<div class="stat-panel">
			<!-- Success background. vertically centered text -->
			<div class="stat-cell bg-success valign-middle">
				<!-- Stat panel bg icon -->
				<i class="fa fa-bar-chart-o bg-icon"></i>
				<!-- Extra large text -->
				<span class="text-xlg">
					<strong>
							{$Home->getQCExeedSLA()}
					</strong>
				</span>
				<br>
				<!-- Big text -->
				<span class="text-bg">{'Jobs'|tl:true:'home'}</span><br>
				<!-- Small text -->
				<span class="text-sm">{'exceeded SLA MTD'|tl:true:'home'}</span>
			</div> <!-- /.stat-cell -->
		</div> <!-- /.stat-panel -->	
		</a>
	</div>	
</div>
<!-- monthly sales and my performance -->
<div class="row">
	<!-- monthly sales -->
	<div class="col-md-6">
		{$Home->renderJobByFlow('PM_Activity',5)}			
	</div>
	<!-- myperformance -->
	<div class="col-md-6">
		{$Home->renderMyPerformance()}	
	</div>

</div>

</div><!--  end of container -->