<div class="row" style="padding-bottom:15px;margin-bottom:15px">
	<div class="col-sm-3">
		<div class="stat-panel">
			<!-- Success background. vertically centered text -->
			<div class="stat-cell bg-danger valign-middle">
				<!-- Stat panel bg icon -->
				<i class="fa fa-check-square-o bg-icon"></i>
				<!-- Extra large text -->
				<span class="text-xlg">
					<strong>
						<a href="showFlowSummary?id=5&type=PM_Activity">
							{$Home->getCompletedJob('PM_Activity',5)}
						</a>
					</strong>
				</span>
					<br>
				<!-- Big text -->
				<span class="text-bg">Jobs</span><br>
				<!-- Small text -->
				<span class="text-sm">checked</span>
			</div> <!-- /.stat-cell -->
		</div> <!-- /.stat-panel -->
	</div>
	<div class="col-sm-3">
		<div class="stat-panel">
			<!-- Success background. vertically centered text -->
			<div class="stat-cell bg-warning valign-middle">
				<!-- Stat panel bg icon -->
				<i class="fa fa-info bg-icon"></i>
				<!-- Extra large text -->
				<span class="text-xlg">
					<strong>
<!-- 		  			  Activity name   : "Pending check (QC)"
		                  Activity ID : 5 -->		
						<a href="{$Home->getFlowUrl(5,'PM_Activity')}">
							{$Home->getActivityData(5,'totalcount')}
						</a>
					</strong>
				</span>
				<br>
				<!-- Big text -->
				<span class="text-bg">Jobs</span><br>
				<!-- Small text -->
				<span class="text-sm">pending QC check</span>
			</div> <!-- /.stat-cell -->
		</div> <!-- /.stat-panel -->			
	</div>	
	<div class="col-sm-3">
		<div class="stat-panel">
			<!-- Success background. vertically centered text -->
			<div class="stat-cell bg-info valign-middle">
				<!-- Stat panel bg icon -->
				<i class="fa fa-gavel bg-icon"></i>
				<!-- Extra large text -->
				<span class="text-xlg">
					<strong>
<!-- 		  			  Activity name   : "Rework in progress"
		                  Activity ID     : 10 -->		
						<a href="{$Home->getFlowUrl(10,'PM_Activity')}">
							{$Home->getActivityData(10,'totalcount')}
						</a>
					</strong>
				</span>
				<br>
				<!-- Big text -->
				<span class="text-bg">Job</span><br>
				<!-- Small text -->
				<span class="text-sm">pending rework in progress</span>
			</div> <!-- /.stat-cell -->
		</div> <!-- /.stat-panel -->	
	</div>		
	<div class="col-sm-3">
		<div class="stat-panel">
			<!-- Success background. vertically centered text -->
			<div class="stat-cell bg-success valign-middle">
				<!-- Stat panel bg icon -->
				<i class="fa fa-bar-chart-o bg-icon"></i>
				<!-- Extra large text -->
				<span class="text-xlg">
					<strong>
						<a href="showFlowSummaryMTD?id=5&type=PM_Activity">
							{$Home->getQCExeedSLA()}
						</a>
					</strong>
				</span>
				<br>
				<!-- Big text -->
				<span class="text-bg">Jobs</span><br>
				<!-- Small text -->
				<span class="text-sm">exceeded SLA MTD</span>
			</div> <!-- /.stat-cell -->
		</div> <!-- /.stat-panel -->	
	</div>	
</div>
<!-- monthly sales and my performance -->
<div class="row">
	<!-- monthly sales -->
	<div class="col-md-6">
		{$Home->renderJobByCategory()}			
	</div>

	<!-- myperformance -->
	<div class="col-md-6">
		{$Home->renderMyPerformance()}	
	</div>

</div>

</div><!--  end of container -->