<div class="container">
<!-- glance -->
<div class="row" style="padding-bottom:15px;margin-bottom:15px">
	<div class="col-md-3">
			<div class="dashboard-stat green">
				<div class="visual">
					<img src="../../image/dashboard/globe.png" style="width:60px;height:60px">
				</div>
				<div class="details">
					<div class="number">
						79
					</div>
					<div class="desc">
						 total jobs <br>checked 
					</div>
				</div>
				<a class="more" href="joinedactivity">
					 View more <span class="glyphicon glyphicon-chevron-right pull-right"></span>
				</a>
			</div>	
		</div>
		<div class="col-md-3">
			<div class="dashboard-stat blue">
				<div class="visual">
					<img src="../../image/dashboard/points.png" style="width:60px;height:60px">
				</div>
				<div class="details">
					<div class="number">
						 8
					</div>
					<div class="desc">
						 jobs pending  <br>QC check
					</div>
				</div>
				<a class="more" href="#">
					 View more <span class="glyphicon glyphicon-chevron-right pull-right"></span>
				</a>
			</div>	
		</div>
		<div class="col-md-3">
			<div class="dashboard-stat purple">
				<div class="visual">
					<img src="../../image/dashboard/medal.png" style="width:60px;height:60px">
				</div>
				<div class="details">
					<div class="number">
						 1
					</div>
					<div class="desc">
						 jobs pending  <br>forward to customer
					</div>
				</div>
				<a class="more" href="pointsummary">
					 View more <span class="glyphicon glyphicon-chevron-right pull-right"></span>
				</a>
			</div>	
		</div>
		<div class="col-md-3">
			<div class="dashboard-stat orange">
				<div class="visual">
					<img src="../../image/dashboard/points.png" style="width:60px;height:60px">
				</div>
				<div class="details">
					<div class="number">
						7
					</div>
					<div class="desc">
						 jobs exceeded  <br>SLA
					</div>
				</div>
				<a class="more" href="pointsummary">
					 View more <span class="glyphicon glyphicon-chevron-right pull-right"></span>
				</a>
			</div>	
		</div>	
</div>
<!-- monthly sales and my performance -->
<div class="row">
	<!-- monthly sales -->
	<div class="col-md-6">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<div>MONTHLY SALES BY CATEGORY
					<div class="pull-right pointer" id="fullcalendarview">
					View my job history
					<span class="glyphicon glyphicon-circle-arrow-right"></span>
					</div>
				</div>					
			</div>
		    <div class="panel-body">
		       <div id="monthlysales" style="height:400px"></div>
		    </div>
		</div>		
	</div>

	<!-- myperformance -->
	<div class="col-md-6">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<div>MY PERFORMANCE
					<div class="pull-right pointer" id="fullcalendarview">
					View my online time report
					<span class="glyphicon glyphicon-circle-arrow-right"></span>
					</div>
				</div>					
			</div>
		    <div class="panel-body">
		       <div id="myperformance" style="height:400px"></div>
		    </div>
		</div>		
	</div>

</div>

<!-- pending job count and QC pass category-->
<div class="row">
	<!-- monthly sales -->
	<div class="col-md-6">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<div>MY PENDING JOB COUNT
					<div class="pull-right pointer" id="fullcalendarview">
					View my pending task list
					<span class="glyphicon glyphicon-circle-arrow-right"></span>
					</div>
				</div>					
			</div>
		    <div class="panel-body">
		       <div id="pendingjob" style="height:400px"></div>
		    </div>
		</div>		
	</div>

	<!-- myperformance -->
	<div class="col-md-6">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<div>QC PASS CATEGORY
					<div class="pull-right pointer" id="fullcalendarview">
					View all
					<span class="glyphicon glyphicon-circle-arrow-right"></span>
					</div>
				</div>					
			</div>
		    <div class="panel-body">
		       <div id="qcpasscategory" style="height:400px"></div>
		    </div>
		</div>		
	</div>

</div>

</div><!--  end of container -->