<div class="container">
<!-- glance -->
<div class="row" style="padding-bottom:15px;margin-bottom:15px">
	<div class="col-md-3">
			<div class="dashboard-stat green">
				<div class="visual">
					<img src="../../image/dashboard/globe.png" style="width:60px;height:60px">
				</div>
				<div class="details">
					<div class="number">
						1142
					</div>
					<div class="desc">
						 total jobs <br>received 
					</div>
				</div>
				<a class="more" href="alljob">
					 View more <span class="glyphicon glyphicon-chevron-right pull-right"></span>
				</a>
			</div>	
		</div>
		<div class="col-md-3">
			<div class="dashboard-stat blue">
				<div class="visual">
					<img src="../../image/dashboard/points.png" style="width:60px;height:60px">
				</div>
				<div class="details">
					<div class="number">
						 13
					</div>
					<div class="desc">
						 jobs pending  <br>verification
					</div>
				</div>
				<a class="more" href="#">
					 View more <span class="glyphicon glyphicon-chevron-right pull-right"></span>
				</a>
			</div>	
		</div>
		<div class="col-md-3">
			<div class="dashboard-stat purple">
				<div class="visual">
					<img src="../../image/dashboard/medal.png" style="width:60px;height:60px">
				</div>
				<div class="details">
					<div class="number">
						 31
					</div>
					<div class="desc">
						 jobs pending  <br>acknowledgement
					</div>
				</div>
				<a class="more" href="assignment">
					 View more <span class="glyphicon glyphicon-chevron-right pull-right"></span>
				</a>
			</div>	
		</div>
		<div class="col-md-3">
			<div class="dashboard-stat orange">
				<div class="visual">
					<img src="../../image/dashboard/points.png" style="width:60px;height:60px">
				</div>
				<div class="details">
					<div class="number">
						64
					</div>
					<div class="desc">
						 jobs work in  <br>progress
					</div>
				</div>
				<a class="more" href="pointsummary">
					 View more <span class="glyphicon glyphicon-chevron-right pull-right"></span>
				</a>
			</div>	
		</div>	
</div>
<!-- monthly sales and my performance -->
<div class="row">
	<!-- monthly sales -->
	<div class="col-md-6">
		<div class="panel panel-success">
			<div class="panel-heading">
				<div>MONTHLY SALES BY CATEGORY
					<div class="pull-right pointer" id="fullcalendarview">
					View my job history
					<span class="glyphicon glyphicon-circle-arrow-right"></span>
					</div>
				</div>					
			</div>
		    <div class="panel-body">
		       <div id="monthlysales" style="height:400px"></div>
		    </div>
		</div>		
	</div>

	<!-- myperformance -->
	<div class="col-md-6">
		<div class="panel panel-success">
			<div class="panel-heading">
				<div>ARTIST PERFORMANCE
					<div class="pull-right pointer" id="fullcalendarview">
					View my online time report
					<span class="glyphicon glyphicon-circle-arrow-right"></span>
					</div>
				</div>					
			</div>
		    <div class="panel-body">
		       <div id="artistperformance" style="height:400px"></div>
		    </div>
		</div>		
	</div>

</div>

<!-- pending job count and QC pass category-->
<div class="row">
	<!-- monthly sales -->
	<div class="col-md-6">
		<div class="panel panel-success">
			<div class="panel-heading">
				<div>PAST 6-MONTH ACTUAL VS FORECASTED SALES					
				</div>					
			</div>
		    <div class="panel-body">
		       <div id="actvsforcst" style="height:400px"></div>
		    </div>
		</div>		
	</div>

	<!-- myperformance -->
	<div class="col-md-6">
		<div class="panel panel-success">
			<div class="panel-heading">
				<div>MOIRE CUSTOMER CONTRIBUTION 
					<div class="pull-right pointer" id="fullcalendarview">
					View customer sales report
					<span class="glyphicon glyphicon-circle-arrow-right"></span>
					</div>
				</div>					
			</div>
		    <div class="panel-body">
		       <table class="table">
		       		<thead>
		       			<tr>
		       			<th width="10%">Ranking</th>
		       			<th width="60%">Company</th>
		       			<th width="30%">Total case</th>
		       			</tr>
		       		</thead>
		       		<tbody>
		       			<tr>
		       				<td>1</td>
		       				<td>Darun</td>
		       				<td>2183</td>
		       			</tr>
		       			<tr>
		       				<td>2</td>
		       				<td>Carton box</td>
		       				<td>2014</td>
		       			</tr>
		       			<tr>
		       				<td>3</td>
		       				<td>New box</td>
		       				<td>1985</td>
		       			</tr>
		       			<tr>
		       				<td>4</td>
		       				<td>Grand fortune</td>
		       				<td>1785</td>
		       			</tr>
		       			<tr>
		       				<td>5</td>
		       				<td>Deswell</td>
		       				<td>1385</td>
		       			</tr>
		       		</tbody>
		       </table>
		    </div>
		</div>		
	</div>

</div>

</div><!--  end of container -->