<div class="row" style="padding-bottom:15px;margin-bottom:15px">
	<div class="col-sm-3">
		<div class="stat-panel">
			<!-- Success background. vertically centered text -->
			<div class="stat-cell bg-danger valign-middle">
				<!-- Stat panel bg icon -->
				<i class="fa fa-check-square-o bg-icon"></i>
				<!-- Extra large text -->
				<span class="text-xlg">
					<strong>
						<a href="showJobList?page=supervisor">
						{$Home->getTotalJob()}
						</a>
					</strong>
				</span>
					<br>
				<!-- Big text -->
				<span class="text-bg">Jobs</span><br>
				<!-- Small text -->
				<span class="text-sm">received</span>
			</div> <!-- /.stat-cell -->
		</div> <!-- /.stat-panel -->
	</div>
	<div class="col-sm-3">
		<div class="stat-panel">
			<!-- Success background. vertically centered text -->
			<div class="stat-cell bg-warning valign-middle">
				<!-- Stat panel bg icon -->
				<i class="fa fa-info bg-icon"></i>
				<!-- Extra large text -->				
				<span class="text-xlg">
					<strong>
<!-- 		  			  Activity name   : "Requirement verification"
		                  Activity ID : 1 -->		
						<a href="{$Home->getFlowUrl(1,'PM_Activity')}">
							{$Home->getActivityData(1,'totalcount')}
						</a>
					</strong>
				</span><br>
				<!-- Big text -->
				<span class="text-bg">Jobs</span><br>
				<!-- Small text -->
				<span class="text-sm">pending verification</span>
			</div> <!-- /.stat-cell -->
		</div> <!-- /.stat-panel -->			
	</div>
	<div class="col-sm-3">
		<div class="stat-panel">
			<!-- Success background. vertically centered text -->
			<div class="stat-cell bg-info valign-middle">
				<!-- Stat panel bg icon -->
				<i class="fa fa-gavel bg-icon"></i>
				<!-- Extra large text -->
				<span class="text-xlg">
					<strong>
<!-- 		  			  Activity name   : "Work in progress "
		                  Activity ID : 4 -->		
						<a href="{$Home->getFlowUrl(4,'PM_Activity')}">
							{$Home->getActivityData(4,'totalcount')}
						</a>
					</strong>
				</span><br>
				<!-- Big text -->
				<span class="text-bg">Jobs</span><br>
				<!-- Small text -->
				<span class="text-sm">work in progress</span>
			</div> <!-- /.stat-cell -->
		</div> <!-- /.stat-panel -->	
	</div>
	<div class="col-sm-3">
		<div class="stat-panel">
			<!-- Success background. vertically centered text -->
			<div class="stat-cell bg-success valign-middle">
				<!-- Stat panel bg icon -->
				<i class="fa fa-bar-chart-o bg-icon"></i>
				<!-- Extra large text -->
				<span class="text-xlg">
					<strong>
<!-- 		  			  Activity name   : "Pending acceptance"
		                  Activity ID : 6 -->		
						<a href="{$Home->getFlowUrl(6,'PM_Activity')}">
							{$Home->getActivityData(6,'totalcount')}
						</a>
					</strong>
				</span>
					<br>
				<!-- Big text -->
				<span class="text-bg">Jobs</span><br>
				<!-- Small text -->
				<span class="text-sm">pending customer acceptance</span>
			</div> <!-- /.stat-cell -->
		</div> <!-- /.stat-panel -->	
	</div>			
</div>
<!-- monthly sales and my performance -->
<div class="row">
	<!-- monthly sales -->
	<div class="col-md-6">
		{$Home->renderMonthlySalesByCat('supervisor')}	
	</div>

	<!-- myperformance -->
	<div class="col-md-6">
		{$Home->renderArtistPerformance()}		
	</div>

</div>

<!-- pending job count and QC pass category-->
<div class="row">
	<!-- monthly sales -->
	<div class="col-md-6">
		{$Home->renderForcastVsActual()}
	</div>

	<!-- myperformance -->
	<div class="col-md-6">
		{$Home->renderCustomerContribution()}	
	</div>

</div>

</div><!--  end of container -->