.urgency {
	display: inline-block;
	border-radius: 50%;
	width: 20px;
	height: 20px;
}
.urgency.normal {
	background: rgba(210,255,82,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(210,255,82,1)), color-stop(100%, rgba(145,232,66,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	background: radial-gradient(ellipse at center, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
	border: 1px solid #BEBDBD;
}
.urgency.overdue{
	background: rgba(241,4,59,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(241,4,59,1) 0%, rgba(196,3,48,1) 44%, rgba(153,0,36,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(241,4,59,1)), color-stop(44%, rgba(196,3,48,1)), color-stop(100%, rgba(153,0,36,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(241,4,59,1) 0%, rgba(196,3,48,1) 44%, rgba(153,0,36,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(241,4,59,1) 0%, rgba(196,3,48,1) 44%, rgba(153,0,36,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(241,4,59,1) 0%, rgba(196,3,48,1) 44%, rgba(153,0,36,1) 100%);
	background: radial-gradient(ellipse at center, rgba(241,4,59,1) 0%, rgba(196,3,48,1) 44%, rgba(153,0,36,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1043b', endColorstr='#990024', GradientType=1 );
	border: 1px solid #5E3146;
}

.action {
	font-size : 1.5em;
	color : #fff;
	background-color : #ACABAB;
	cursor : pointer;
	-webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.action-flag:hover{
	background-color: #BD0404;
}

.action-flag.flagged {
	background-color: #BD0404;
}

.action-comment:hover{
	background-color: #EEA332;
}

.action-comment.hascomment {
	background-color: #EEA332;
}

.action-perform:hover{
	background-color: #42C95D;
}

.action-comment.hascomment.unread {
	-webkit-animation: colorblink 0.5s  infinite alternate; /* Chrome, Safari, Opera */
	animation: colorblink 0.5s  infinite alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes colorblink
{
from {background: #EEA332;}
to {background: #FDC26A;}
}
/* Standard syntax */
@keyframes colorblink
{
from {background: #EEA332;}
to {background: #FDC26A;}
}
 